/* LG SCREEN STYLING */

html,
body {
    background-color: #C7D273;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

h1,
h2,
h3,
a,
button {
    color: #80542D;
    font-family: "Fraunces", serif;
}

h1 {
    font-weight: 600;
    font-size: 40px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 20px;
}

.header h1 {
    white-space: nowrap;
}

.header h2 {
    font-weight: 300;
    font-style: italic;
}

h2,
h3 {
    font-weight: 300;
}

.folders button,
h2,
h3 {
    color: #4a2a0e;
}

a {
    text-decoration: none;
}

a:hover {
    color: #d58066;
}

.availability-circle {
    width: 50vw;
    height: 50vw;
    position: fixed;
    top: -25vw;
    right: -25vw;
    overflow: hidden;
}

.availability-circle svg {
    position: absolute;
    fill: #EE9E86;
    top: 0;
    left: 0;
}

.availability-circle text {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 8px;
    fill: #FCF5DE;
}

.main-card {
    background-color: #FCF5DE;
    border-radius: 30px;
    padding: 4%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5%;
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "header . ."
        "folder . end-tag";
}

.header {
    grid-area: header;
    line-height: 1rem;
}

.end-tag {
    grid-area: end-tag;
    align-self: flex-end;
    transition: transform 0.5s ease-in-out;

}

.end-tag:hover {
    transform: translateX(8px);
}

.folders {
    grid-area: folder;
    position: relative;
}

.folder-tabs {
    white-space: nowrap;
}

.folderTab {
    border: none;
    border-radius: 50%;
    width: 8vw;
    height: 8vw;
    cursor: pointer;
    padding-bottom: 3vw;
    padding-left: 2vw;
    padding-right: 2vw;
}

#code-button {
    background-color: #EEC371;
}

#design-button {
    background-color: #E6A896;
}

#seo-button {
    background-color: #AFD3D0;
}

.folderBody {
    padding: 0.5rem 2rem 2rem 2rem;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 36vw;
    height: 18vh;
    background-color: #EEC371;
    position: absolute;
    top: 4vw;
    left: 0;
    display: none;
    max-height: calc(70vh - 8rem);
    overflow-y: auto;
}

/* MEDIUM SCREEN STYLING */

@media screen and (max-width: 1024px) and (min-width: 700px) {
    h1 {
        font-weight: 600;
        font-size: 36px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 16px;
    }

    .main-card {
        background-color: #FCF5DE;
        border-radius: 30px;
        padding: 4%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2.5%;
        height: 70vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "header . ."
            "folder . end-tag";
    }

    .folderBody {
        padding: 0.5rem 2rem 2rem 2rem;
        border-bottom-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        width: 36vw;
        height: 26vh;
        background-color: #EEC371;
        position: absolute;
        top: 4vw;
        left: 0;
        display: none;
        overflow-y: auto;
    }
}

/* SMALL SCREEN STYLING */

@media screen and (max-width: 700px) {
    h1 {
        font-weight: 600;
        font-size: 28px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 16px;
    }

    .main-card {
        background-color: #FCF5DE;
        border-radius: 30px;
        padding: 4%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2.5%;
        height: 90vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "header"
            "."
            "folder"
            "end-tag";
        
    }

    .folderBody {
        padding: 0.5rem 2rem 2rem 2rem;
        border-bottom-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        width: 70vw;
        min-width: 65vw;
        height: 26vh;
        max-height: 100%;
        background-color: #EEC371;
        left: 0;
        right: 0;
        display: none;
    }

    .availability-circle {
        display: none;
    }

    .end-tag {
        white-space: nowrap;
    }

}